/* final project css workspace*/

html{
	background-color: #007A7A;
}

body{
	position: absolute;
	width: 1200px;
	height: 1450px;
}

#logo{
	position: absolute;
	left: 20px;
	top: 20px;
	width: 220px;
	height: 180px;
}

#title{
	position: absolute;
	left: 280px;
	top: 20px;
	width: 650px;
	height: 100px;
	background-color: #FFE2AA;
	color:#003366;
	font-size: 80px;
	text-align: center;
	letter-spacing:7px;
	font-family: Century Gothic, Verdana;
}

#description{
	position: absolute;
	left: 280px;
	top: 150px;
	width: 650px;
	height: 50px;
	color: #FFE2AA;
	font-family: Verdana;
	text-align: center;
	font-size: 15px;
}

#info{
	position: absolute;
	left: 20px;
	top: 230px;
	width: 220px;
	height: 800px;
	padding: 10px;
	background-color: #FFE2AA;
	color:#003366;
	font-family: Verdana;
	font-size: 15px;
}

#info_title{
	font-size: 24px;
	text-align: center;
	border: dotted 2px #003366;
}

dt{
	font-size: 16px;
	text-decoration: underline;
	line-height: 140%;
}

#login{
	position: absolute;
	right: 20px;
	top: 230px;
	width: 200px;
	height: 220px;
	padding: 10px;
	background-color: #FFE2AA;
	color:#003366;
	font-family: Verdana;
	font-size: 15px;
}

#MB{
	position: absolute;
	left: 280px;
	top: 230px;
	padding: 15px;
	width: 620px;
	height: 170px;
	background-color: #FFB8B8;
	color:#003366;
	text-align: center;
	font-family: Verdana;
	font-size: 15px;
}

#MB_title{
	font-size: 30px;
}

#Big5_title{
	font-size: 80px;
	font-family: arial black, verdana;
}

#AB_title{
	font-size: 40px;
	font-family: palatino linotype, verdana;
}

td{
	color:#003366;
	text-align: center;
	font-family: Verdana;
	font-size: 15px;
}
#Big5{
	position: absolute;
	left: 280px;
	top: 450px;
	padding-left: 15px;
	padding-right: 15px;
	width: 620px;
	height: 200px;
	background-color: #80CC80;
	color:#003366;
	text-align: center;
	font-family: Verdana;
	font-size: 15px;
}

#AB{
	position: absolute;
	left: 280px;
	top: 680px;
	width: 650px;
	height: 200px;
	background-color: #B8B8FF;
	color:#003366;
	text-align: center;
	font-family: Verdana;
	font-size: 15px;
}

#videos{
	position: absolute;
	left: 18em;
	top: 57em;
	width: 55em;
	height: 25em;
}
#vid2{
	position: absolute;
	left: 25em;
}
#vid3{
	position: absolute;
	top: 17em;
	left: 12em;
}
#videos h2{
	border-bottom: solid;
	font-family: verdana;
}

#footer{
	position: absolute;
	left: 220px;
	bottom: 20px;
	width: 800px;
	height: 60px;
	background-color: #FFE2AA;
	color:#003366;
	font-family: Verdana;
	letter-spacing: 3px;
	font-size: 12px;
}

#bio{
	font-family: verdana;
	margin-top: 10em;
	color: white;
	position: absolute;
	left: 20em;
	width: 50em;
	top: 3em;
}
#infohead{
	font-weight: 900;
	background-color: #FFD685;
	width: 11em;
	position: absolute;
	left: 280px;
	top: 20px;
	font-family: "century gothic";
	letter-spacing: 5px;
	font-size: 5em;
	color: #003366;
	text-align: center;
}
#bio h2{
	border-bottom: solid;
}
a:link{
	color:#003366;
	text-decoration: none;
}

a:visited{
	color:#003366;
 	text-decoration: none;
}

a:hover{
 	text-decoration: underline;
	font-weight: bold;
}
