/* css for project
  Evan Johnston
  Irene Jae
  */
html{
background: #9dde96; /* Old browsers */
background: -moz-linear-gradient(top,  #9dde96 0%, #6bb779 55%, #358360 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dde96), color-stop(55%,#6bb779), color-stop(100%,#358360)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #9dde96 0%,#6bb779 55%,#358360 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #9dde96 0%,#6bb779 55%,#358360 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #9dde96 0%,#6bb779 55%,#358360 100%); /* IE10+ */
background: linear-gradient(to bottom,  #9dde96 0%,#6bb779 55%,#358360 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dde96', endColorstr='#358360',GradientType=0 ); /* IE6-9 */

}
