#head {
	display: block;
	text-align: center;
	min-width: 80em;
	background-color: #007A7A;
	padding-top: .5px;
	width: 100%;
 }
#container{
	margin: 0 auto;
	font-family: verdana;
	width: 80em;
	height: 30em;
}
img{
	padding-bottom: 5px;
	width: 164px;
	height: 133px;
}
#login{
	float: left;
	width: 30em;
	border-right: solid gainsboro .1em;
	margin-left: 9.5em;
}
#register{
	width: 30em;
	float: right;
	margin-right: 3em;
}
#login ul, #register ul{
	list-style: none;
	margin-left: -2.5em;
}
li{
	padding-bottom: 1em;
}
#pw{
	margin-bottom: 3em;
}
h2{
	color: #007A7A;
}
#rsubmit, #lsubmit{
	float: right;
	margin: -1em 14em;
	width: 6em;
	height: 3em;
	border-radius: 6px 6px 6px 6px ;
	background-color: #007A7A;
	color: white;
	font-weight: bold;
}
#lsubmit{
	margin-bottom: 1em;
}
